body {
  background: url('images/bg.jpeg');
  background-size: cover;
  font-family: sans-serif;
  text-align: center;

  a {
    color: white;
  }

  h1 {
    color: white;
  }


  #topFight {
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	h2 {
		font-size: 100%;
		color:white;
	}
    li {
	    font-weight: bold;
	    list-style-type:none;
    }

  }

  #fight {
    position: relative;
    width: 779px;
    height: 500px;
    margin: 50px auto 0 auto;
    font-size: 200%;

    .left(){
      position: absolute;
      left: 0;
    }
    .right(){
      position: absolute;
      right: 0;
    }

    #leftKeyword, #rightKeyword {
      font-size: 1em;
      margin: 0;
      width: 301px;
      border-radius: 5px;
      padding: 10px;
    }

    #leftKeyword {
      .left;
      top: 0;
    }

    #rightKeyword {
      .right;
      top: 0;
    }

    #letsfight {
      .left;
      font-size: 1em;
      margin: 0;
      top: 0;
      left: 334px;
    }

    #leftScore {
      .left;
      top: 80px;
      left: 80px;
    }

    #rightScore {
      .right;
      top: 80px;
      right: 80px;
    }

    @scale: 2;
    @star_width: 300px / @scale;
    @star_height: 286px / @scale;

    #leftScore, #rightScore {
      display: block;
      width: @star_width;
      height: (@star_height)-5px;
      background: url('images/star.png');
      background-size: @star_width @star_height;
      line-height: @star_height;
      vertical-align: middle;
      color: black;
      padding-top: 5px;
      -webkit-animation: scale 1s ease-out;
    }

    #leftKeyword {
      margin-right: 10px;
    }

    #letsfight {
      padding: 10px;
    }

    #rightKeyword {
      text-align: right;
    }

    .twitter-share-button {
      margin-top: 150px;
    }
  }
}

@-webkit-keyframes
scale {
  from {
    -webkit-transform: scale(0.0);
  }
  to {
    -webkit-transform: scale(1.0);
  }
}
