@white: #FFFFFF;
@black: #000000;
@gray: #808080;
@red: #FF0000;
@blue: #0000FF;
@green: #00FF00;
@light_gray: #d3d3d3;
@codestory_background: #375b63;
@blue_devoxx: #009FE6;

body {
  background-color: @light_gray;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;

  header {
    background-color: @black;
    #styles > .title;
    color: @blue_devoxx;
    font-weight: lighter;

    ul#logo-section {
      font-family: monospace;
      text-transform: uppercase;

      #logo {
        height: 80px;
        overflow: hidden;
      }

      #mojo {
        letter-spacing: 1em;
      }

      #attribution {
        text-align: right;
        font-size: 0.8em;
      }

    }

    nav {
      height: 1.5em;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li:hover {
          background-color: lighten(@codestory_background, 30%);
        }

        li#auth {
          float: right;
        }

        #planning-name {
          font-size: 1em;
        }

        li {
          font-size: 0.8em;
          height: 1.5em;
          float: left;
          padding: 0 1em;

          a:link, a:visited {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}


ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

h1 {
  display: block;
  margin: 0 auto;
  width: 800px;
  text-align: center;
  margin-top: 30px;
}

.day {
  #styles > .title;
  background-color: @black;
}

.slot {
  #styles > .title;
  background-color: @gray;
}

.talk {
  background-color: @white;
  border-top: 0 solid @black;
  border-left: 1px solid @black;
  border-right: 1px solid @black;
  border-bottom: 1px solid @black;
  padding: 10px;

  .title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .speaker {
    font-style: italic;
    margin-bottom: 20px;
  }

  .tags {
    text-align: right;

    .tag {
      color: @white;
      font-weight: bold;
      font-size: 0.8em;
      padding: 0 10px;
      #styles > .rounded-corners(5px);
      #styles > .colored(@blue);
    }
  }
}

#styles {
  .title {
    text-align: center;
    color: @white;
    font-size: 1.5em;
    border: 1px solid @black;
  }

  .colored(@color: @red){
    background-color: @color;
    border: 1px solid darken(@color, 10%);
  }

  .rounded-corners(@radius: 5px){
    border-radius: @radius;
  }
}

#teaser {
  width: 454px / 3;
  height: 510px / 3;
  margin-top: -55px;
  margin-left: -55px;
}

#fight {
  width: 886px;
  height: 500px;
  margin: 50px auto;
  background-image: url('fight.jpg');
  border: 1px solid black;
}

#vote {
  width: 886px;
  height: 100px;
  margin: 50px auto;
}